@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

h1{
  font-family: 'Roboto', sans-serif;
}


@layer base {
  body {
    @apply bg-[#F2EFEB] text-[#0D0D0D] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[roboto]
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-md shadow-gray-400 rounded-xl uppercase bg-[#324028]  text-white 
  }
}

/*  */